<!DOCTYPE html>

<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="{{ site.title }} : The random wanderings of a physicist in the world of data science" />

    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/stylesheet.css">
    <style>
    {% include local.css %}
    </style>

    <title>{{ site.title }} - Michael Woods</title>
  </head>

  <body>

    <!-- ------------ -->
    <!-- HEADER       -->
    <!-- ------------ -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/vgm64">View on GitHub</a>

          <h1 id="project_title"><a href="{{ site.url }}">{{ site.title }}</a></h1>
          <h2 id="project_tagline">{{ site.tagline }}</h2>

        </header>
    </div>

    <!-- ------------ -->
    <!-- MAIN CONTENT -->
    <!-- ------------ -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

      <h2> About me </h2>
      I'm Michael Woods. I finished up a Ph.D. in physics from UC Davis in 2014 and I'm currently throwing myself in to data science in the Bay Area. Why bother describing what I do any more than that? So much is in flux right now that it would be out of date by the time I've uploaded this to the web.
      <!-- I want my recent posts listed. -->
      <h2>Recent Posts</h2>
      <ul>
        {% for post in site.posts do %}
        <li>
          {{ post.date | date: "%B %d, %Y" }} <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
      {% assign newest_post = site.posts.first %}
      <h2>{{ newest_post.title }}</h2>
      <div style="color:888888;margin-left:20px;font-size:80%">
        Posted {{ newest_post.date | date: "%B %d, %Y" }}
      </div>
      {{ newest_post.excerpt }} <a href="{{ newest_post.url }}">Continue reading</a>
      </section>
    </div>
    </body>
</html>
