<!DOCTYPE html>

<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="{{ site.title }} : The random wanderings of a physicist in the world of data science" />

    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/stylesheet.css">

    <title>{{ page.title }} on {{ site.title }}</title>
  </head>

  <body>

    <!-- ------------ -->
    <!-- HEADER       -->
    <!-- ------------ -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/vgm64">View on GitHub</a>

          <h1 id="project_title">{{ site.title }}</h1>
          <h2 id="project_tagline">{{ site.tagline }}</h2>

        </header>
    </div>

    <!-- ------------ -->
    <!-- MAIN CONTENT -->
    <!-- ------------ -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

          <h2>{{ page.title }}</h2>
          <div style="color:888888;margin-left:20px;font-size:80%">
            Posted {{ page.date | date: "%B %d, %Y" }}
          </div>

        {{ content }}

      </section>
    </div>

  </body>
</html>
